.pagina-nodevades {
    align-content: space-around;
}

.cont-novedades {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.cont-novedad {
    width: 70%;
}

@media (max-width: 1280px) and (min-width: 281px) {

    .pagina-nodevades {
        padding-top: 9rem ;
    }

    .cont-novedad {
        width: 100%;
    }
}

@media (width: 1024px) {
    .pagina-nodevades{
        padding-top: 12rem;
    }
}



@media (max-width: 280px){

    .pagina-nodevades {
        padding-top: 12rem ;
    }
    
    .cont-novedad {
        width: 100%;
    }
}

@media (width: 375px) {
    .pagina-nodevades {
        padding-top: 12rem;
    }
}