.pagina-producto-detalles {
    align-content: center;
}

.cont-producto-detalles {
    height: 100%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.cont-producto-informacion {
    width: 50%;
}

.cont-imagenes-detalles, .cont-imagenes-detalles img {
    max-height: 20rem;
    max-width: 20rem;
}

.cont-imagenes-detalles {
    position: relative;
    display: flex;
}

.cont-imagenes {
    min-height: 20rem;
    min-width: 20rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.next, .prev {
    background-color: white;
    top: calc(50%);
    position: absolute;
    z-index: 2;
    border: 1px solid black;
    height: 2rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.next {
    left: calc(84%);
}

.cont-agregar-carrito {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont-precio {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.cont-precio h4 {
    font-size: 1.5em;
}

.cont-agregar-carrito button {
    height: 3rem;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.cont-agregar-carrito button:hover {
    color: white;
    background-color: black;
}

.cont-cantidad {
    height: 2rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont-controlador-cantidad {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cont-controlador-cantidad p {
    width: 2rem;
    text-align: center;
}

.cont-controlador-cantidad button{
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
}


.cont-controlador-cantidad button:hover{
    color: white;
    background-color: black;
}



@media (max-width: 1280px) {

    .pagina-producto-detalles {
        padding-top: 13rem;
    }
    
    .cont-producto-detalles {
        width: 90%;
    }

    .cont-producto-detalles h1 {
        text-align: center;
    }

    .cont-producto-informacion{
        margin: 0 auto;
        width: 90%;
    }

    .prev {
        right: calc(78%);
    }

    .next {
        left: calc(78%);
    }

    .cont-agregar-carrito {
        width: 100%;
    }

    .cont-precio h4 {
        font-size: 1.2em;
    }

    .producto-cantidad {
        width: 4rem !important;
    }

    .producto-precio {
        width: 5rem !important; 
    }

    .cont-cantidad {
        width: 100%;
    }

}